* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.game-container {
  width: 100%;
  height: 100dvh;
  background: url('https://st4.depositphotos.com/8328610/23308/v/450/depositphotos_233080596-stock-illustration-rock-paper-scissors-pattern-white.jpg') no-repeat center fixed;
  background-size: cover;
}

.game-wrapper {
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, .97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.rps-logo {
  width: 320px;
  height: 200px;
  margin-top: -30px;
}

.weapons-container {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-evenly;
  color: red;
  margin-top: -30px;
}

.weapons-container img {
  width: 120px;
  height: 120px;
}

.player-weapon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  color: wheat;
}

.computer-weapon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  color: wheat;
}

.weapons-container h1 {
  color: wheat;
  font-size: 30px;
}

.display-win-lose-tie-container {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: center;
  margin-top: -30px;
}

.display-win-lose-tie-container h1 {
  color: wheat;
  font-size: 30px;
}

.score-board-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  gap: 1em;
}

.each-score {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.score-header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 100;
  width: 60%;
  padding: 5px 0;
}

.score-number {
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 30%;
  padding: 5px 0;
}

.player-weapon-btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: .5em;
  margin-top: -20px;
  color: wheat;
  font-size: 14px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btns-container {
  width: 100px;
  height: 35px;
  background-color: black;
  color: red;
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  border: 1px solid wheat;
}

.btns-container button {
  background-color: transparent;
  width: 100%;
  height: 28px;
  margin-top: -7px;
  color: wheat;
  border: none;
  z-index: 9;
  cursor: pointer;
}

.btns-container::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 360%;
  background-color: wheat;
  transform: rotate(45deg);
  z-index: 1;
}

.btns-container:hover::before {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg) saturate(1000%);
  }
}

.btns-container::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 4px;
  background-color: black;
  z-index: 1;
}

.shaker {
  animation: shakePlayer 0.9s linear;
}

@keyframes shakePlayer {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 426px) and (max-width: 8000px) {


.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-wrapper {
  width: 425px;
 }
}

